<div class="signup">
    <form (ngSubmit) = "save()">
        <label for="chk" aria-hidden="true">Crear cuenta</label>
        <mat-form-field class="matFormFieldSignup" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input class="inputSignup" required [(ngModel)]="userData.username" name = "username" matInput type="text"  placeholder="Ej: usuario123"> 
        </mat-form-field>
         
        <mat-form-field class="matFormFieldSignup" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input class="inputSignup" required [(ngModel)]="userData.password" name = "password" matInput type="password"  placeholder="Digite su contraseña"> 
        </mat-form-field>

        <mat-form-field class="matFormFieldSignup" appearance="outline">
            <mat-label>Correo Electronico</mat-label>
            <input class="inputSignup" required [(ngModel)]="userData.email" name = "email" matInput type="email"  placeholder="Ej: player@gmail.com"> 
        </mat-form-field>

        <button class="btn-Signup">Crear cuenta</button>
    </form>
</div>