<app-navbar></app-navbar>

<div class="main">
  <h1>Tiempo: {{time}} segundos</h1>
 
  <div class="txt-question">
    <p *ngFor="let item of questionRandom"> {{numberQuestion}}. {{item.nameQuestion}} </p>
  </div>

  <div *ngFor="let item of questionRandom">
    <ul>
      <ul *ngFor="let items of item.answerName">
        <button class="btn" value={{items.correctAnswer}} (click)="validateSelectedQuestion(items.correctAnswer)">
            {{items.asnwerName}}
        </button>
      </ul>
    </ul>
  </div>
</div>